.header {
    height: 40px;
    background-color: #026aa7;
    color: $white;
    padding: 4px;
    .nav-left {
        flex: 1;
        &>* {
            height: 32px;
            background-color: #ffffff4d;
            border-radius: 3px;
            display: flex;
            align-items: center;
            padding: 0 5px;
        }
        &>*:not(:first-child) {
            margin-left: 4px;
        }
        .input-container {
            input {
                background-color: transparent;
                height: 100%;
                border: none;
            }
        }
    }
    .logo {
    }
    .nav-right {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }
}